body {
  background-color: rgb(255, 243, 211);
  text-align: center;
  padding: 0 2em;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  box-shadow: 1px 1px 0.25em rgb(187, 137, 0);
  border-radius: 1em;
}

header > ul {
  display: flex;
  min-width: 30%;
  align-items: center;
  justify-content: space-around;
}

header > ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
  margin-left: 1em;
}

a:hover {
  color: rgb(170, 125, 0);
}

.active {
  color: rgb(170, 125, 0);
}

.date {
  align-self: flex-end;
  margin-right: 1em;
}

#books {
  flex-direction: column;
}

#books-list {
  margin: 1em 2em;
  min-height: 40vh;
  box-shadow: 1px 1px 10px rgb(255, 204, 65);
}

#books-list > div:nth-child(odd) {
  background-color: rgb(255, 204, 65);
}

#books-list > div:nth-child(even) {
  background-color: rgb(255, 223, 133);
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.remove {
  padding: 1em;
  background-color: rgb(180, 0, 0);
  border: none;
  border-radius: 0.5em;
  color: #fff;
}

p {
  background: none;
}

h1,
h2,
p {
  color: rgb(77, 77, 77);
}

#form {
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 1em auto;
  flex-wrap: wrap;
}

form > input {
  width: 100%;
  margin: 0.5em;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.5em;
  padding: 0.75em;
}

#add-btn {
  width: 5em;
  background-color: rgb(1, 145, 1);
  color: #fff;
  margin-left: auto;
}

#contact {
  flex-direction: column;
  text-align: left;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  margin: 1em;
  justify-content: center;
}

small {
  font-size: 1em;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
